{% extends 'base.html' %}

{% block content %}
<p>Nome: {{ object.nome }}</p>
<p>Capacidade: {{ object.capacidade }}</p>
<p>Zonas: {{ object.zonas }}</p>
<p>Estado: {{ object.estado }}</p>
<p>Morada: {{ object.morada }}</p>
<p>Código Postal: {{ object.codigo_postal }}</p>
<p>Cidade: {{ object.cidade }}</p>
{% if object.foto.url != None %}
<p>Foto: <img class="img-responsive" style="width: auto; height: auto" src="{{ object.foto.url }}"/></p>
{% endif %}

<hr>

<form action="delete/">
    <p>To delete go here:</p>
    <input type="submit" value="Delete" />
</form>

<hr>

<form action="update/">
    <p>To update go here:</p>
    <input type="submit" value="Update" />
</form>

<hr>

<form action="zona/">
    <p>To see zones go here:</p>
    <input type="submit" value="Zones" />
</form>

<br>

<form action="../">
    <input type="submit" value="Go Back" />
</form>
{% endblock %}